<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
    {{>header}}
    <p>{{errorMesseage}}</p>
    
    </div>
    {{>footer}}
</body>

</html>